header {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7em;
    width: 100%;
    margin: 0;

    position: fixed;
    top: 0;
    z-index: $z-index-med;
    background-color: $white;

    img {
        width: 7rem;
    }

    .main-nav,
    .request-button {
        display: none;
    }

    #bars {
        font-size: 2em;

        &:hover {
            cursor: pointer;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: $bp-small-2) {
        .main-nav {
            display: block;
        }

        #bars {
            display: none;
        }

        ul {
            margin: 0;

            li {
                display: inline-block;

                &:not(:last-child) {
                    padding-right: 2em;
                }

                a {
                    font-size: 1.3em;
                    color: inherit;

                    &:hover {
                        color: $Dark-Blue;
                        text-decoration: none;
                        padding-bottom: 1.4rem;
                        border-bottom: $Lime-Green 4px solid;
                    }
                }

            }
        }


    }

    /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
    @media (min-width: $bp-med-2) {
        ul {
            li {

                a {
                    font-size: 1.125em;

                    &:hover {
                        color: $Dark-Blue;
                        text-decoration: none;
                        padding-bottom: 1.4rem;
                        border-bottom: $Lime-Green 4px solid;
                    }
                }

            }
        }

        .request-button {
            display: block;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: $bp-large-2) {
        padding: 2em 13em;
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: $bp-xl) {
        ul {
            li {
                &:not(:last-child) {
                    padding-right: 3em;
                }

                a {
                    font-size: 1.3em;
                }
            }
        }
    }
}

