.main-top {

    background-color: hsl(0, 0%, 98%);
    margin-top: 7em;

    .row {
        position: relative;

        .main-top-left {
            // height: 40em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 3em;
            padding-bottom: 7em;
            text-align: center;
            margin-top: 30em;

            h1 {
                font-weight: 300;
                font-size: 4em;
                color: hsl(233, 26%, 24%);
                // margin-top: 2rem;
                margin-bottom: 2rem;

                @include xs-phone {
                    font-size: 3em;
                }
            }

            p {
                font-weight: 300;
                font-size: 1.5em;
                margin-bottom: 2rem;
            }

            .btn-container {
                margin: 0 auto;
            }
        }

        .main-top-right {
            position: absolute;
            top: 0;
            background-image: url(../images/bg-intro-mobile.svg);
            background-repeat: no-repeat;
            background-size: 100% 120%;
            // background-position: left 0 top -40px;
            height: 30em;

            .image-container {
                background-image: url(../images/image-mockups.png);
                background-size: 100% auto;
                // background-position: left 0 top -12em;
                background-position: left 0 bottom -1.5em;
                background-repeat: no-repeat;
                height: 30em;
            }

        }

    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: $bp-med-2) {
        height: 70em;

        .row {
            height: 100%;
            position: static;

            .main-top-right {
                padding: 0;

                height: 100%;
                background-image: url(../images/bg-intro-desktop.svg);
                position: static;
                background-size: auto auto;
                background-position: left -70px top -260px;

                .image-container {
                    width: 100%;
                    background-image: url(../images/image-mockups.png);
                    background-position: top -120px left 90px;
                    background-size: auto auto;
                    background-repeat: no-repeat;
                    height: 85em;
                }
            }

            .main-top-left {

                h1 {
                    font-size: 5em;
                }

                p {
                    font-size: 1.8em;
                }

                margin-top: 0;
                padding: 0 8% 0 9%;
                text-align: left;

                .btn-container {
                    margin: 0;
                }
            }
        }
    }
}